{% extends "Admin/layout.html.twig" %}

{% block title %} {{ 'app.pagetitle.ingredient.delete'|trans }} - {{ parent() }}{% endblock %}

{% block body %}
    <h2>{{ 'app.title.ingredient.delete'|trans }}</h2>
    <p class="alert alert-danger mt-3">{{ 'app.form.ingredient.delete.disclaimer'|trans }} : {{ resource.name }} ?</p>
    <form action="{{ path('app_ingredient_delete', {'id': resource.id}) }}" method="post">
        <a href="{{ path('app_ingredient_index') }}" class="btn btn-default" id="return__button">
            {{ 'app.button.delete.return'|trans }}
        </a>
        <input type="submit" value="{{ 'app.button.delete.delete'|trans }}" class="btn btn-danger" id="confirmDelete__button" />
    </form>
{% endblock %}