<!DOCTYPE HTML>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} RecipeSite {% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
    <div class="container min-vh-100">
        <div id="header" class="bg-light">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="collapse navbar-collapse">
                    {% set menu = knp_menu_get('app_adminmenu') %}
                    {{ knp_menu_render(menu) }}
                    <div class="ml-auto">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <p class="text-white pr-2 m-0">{{ 'app.connect.connected'|trans }} {{ app.user.username }} </p>
                            <a href="{{ path('fos_user_security_logout') }}">{{ 'app.connect.disconnect'|trans }}</a>
                        {% else %}
                            <a href="{{ path('fos_user_security_login') }} " class="mr-3">{{ 'app.connect.connection'|trans }}</a>
                            <a href="{{ path('fos_user_registration_register') }}">{{ 'app.connect.register'|trans }}</a>
                        {% endif %}
                    </div>
                </div>
            </nav>
            <div class="p-5">
                <h1>{{ 'app.index.title'|trans }}</h1>
                <p>{{ 'app.index.description'|trans }}</p>
            </div>
        </div>
        {% block body %}

        {% endblock %}
    </div>
    <footer class="page-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 text-center text">
                    <p class="my-2">AuDD © {{ 'now'|date('Y') }}.</p>
                </div>
            </div>
        </div>
    </footer>
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>
