{% extends "Admin/layout.html.twig" %}

{% block title %} {{ 'app.pagetitle.product.delete'|trans }} - {{ parent() }}{% endblock %}

{% block body %}
    <h2>{{ 'app.title.product.delete'|trans }}</h2>
    <p class="alert alert-danger mt-3">{{ 'app.form.product.delete.disclaimer'|trans }} : {{ resources.id }} ?</p>
    <form action="{{ path('app_product_delete', {'id': resources.id}) }}" method="post">
        <a href="{{ path('app_product_index') }}" class="btn btn-default" id="return__button">
            {{ 'app.button.delete.return'|trans }}
        </a>
        <input type="submit" value="{{ 'app.button.delete.delete'|trans }}" class="btn btn-danger" id="confirmDelete__button" />
    </form>
{% endblock %}