<!DOCTYPE HTML>

<html lang="{{ app.request.locale|split('_')[0] }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} Front Site RecipeSite {% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

</head>
<body>
<div id="app">

</div>
{% block javascripts %}
    <script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
    <script src="{{ url('bazinga_jstranslation_js') }}"></script>
    {{ encore_entry_script_tags('front') }}
{% endblock %}
</body>
